<configuration>
    <system.serviceModel>
        <bindings>
            <aspNetCoreBasicHttpBinding>
                <binding name="MathService"/>
            </aspNetCoreBasicHttpBinding>
        </bindings>
        <services>
            <service
                name="Cogito.AspNetCore.ServiceModel.Service.MathService">
                <endpoint
                    address="http://localhost:61531/"
                    binding="aspNetCoreBasicHttpBinding"
                    contract="Cogito.AspNetCore.ServiceModel.Service.IMathService"
                    bindingConfiguration="MathService">

                </endpoint>
            </service>
        </services>
        <extensions>
            <bindingExtensions>
                <add name="aspNetCoreBasicHttpBinding" type="Cogito.AspNetCore.ServiceModel.AspNetCoreBasicBindingCollectionElement, Cogito.AspNetCore.ServiceModel"/>
            </bindingExtensions>
        </extensions>
    </system.serviceModel>
</configuration>